<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OfinCar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <!-- Bootstrap JS -->
    <script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Barra de Navegação -->
    <div th:replace="components/navbar::navbar"></div>

    <!-- Area de Acesso -->
    <section id="access" class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <span id="brand">OfinCar</span>
          <p>
            Neque porro quisquam est qui <br />
            dolorem ipsum quia dolor sit amet
          </p>
          <a class="btn-green" th:href="@{/}">Acessar Conta</a>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <div class="col-md-6">
          <h2></h2>
        </div>
      </div>
    </section>
  </body>
</html>
